@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Poppins:wght@500&display=swap');
:root{
  --main-color:black;
  --second-color:rgb(26, 25, 25);
  --light-color:rgb(86, 85, 85);
  --light-color1:rgba(131, 131, 131, 0.837);
  --font-color:rgba(198, 198, 198, 0.893);
  --font-color2:white;
  --blue-color:rgb(11, 11, 59);
  --green-color:green;
}
body {
  margin: 0;
  padding:0;
  font-family: Poppins;
  font-size: 10px;
}
header{
  position: fixed;
  background-color: var(--main-color);
  color:var(--font-color);
  width: 14%;
  height: 100vh;
  top: 0;
  right: 86%;
  left: 0;
  padding:0 20px;
}
header h2{
  font-family: Poppins;
}
.dec-profile{
  padding:3px 5px;
  display:block;
  width:7%;
  background-color: var(--light-color);
  position: absolute;
  top:9%;
  z-index: 2;
  left: 90%;
}
ul .prof{
  list-style-type: none;
  padding-top: 5px;

}
.cari{
  display:block;
  position: absolute;
  background-color: blue
}
.search{
  display:none;
  width:50%;
  background-color: rgb(251, 253, 253);
  /* display:flex; */
  padding:4px;
  position: absolute;
  left:30%;
  top:2%;
  font-size: 15px;
  border-radius:10px;
  text-align: center;
}
.search input{
  border:none;
  width:95%;
  padding: 5px;
}
.search input:focus{
  outline:none
}

ul{
  padding-left: 5px;
  padding-right: 2px;
  display:flex;
  flex-direction: column;
}
ul li{
  list-style-type: none;
  padding-top: 20px;
}
.link-header{
  color: var(--font-color);
  text-decoration: none;
}
.link-header:hover{
  color: var(--font-color2);
}
.mainAll{
  padding: 0 30px;
  margin-left: 16%;
  width:81,5%;
  background-image:linear-gradient(180deg,var(--blue-color),var(--second-color),var(--second-color));
  height: fit-content;
  color: var(--font-color2);
}
nav{
  display: flex;
  justify-content: space-between;
}
.profile{
  border-radius: 20px;
  cursor:pointer;
}
.pfp{
  padding-top: 0;
  background-color:grey;
  border-radius:20px;
  display:flex;
  flex-direction: row;
}
.pfp li{
  padding-top: 5px;
  margin-right: 10px;
  font-size: 13px;
}
.myname{
  margin-top: 5px;
}
li>.img-profil{
  width: 30px;
  height:30px;
  border-radius: 50%;
}
/* shortuc */
.shorcut{
  margin-bottom: 50px;
}
.shorcut>.grid-3{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 10px;
  grid-row-gap:8px;
  height:fit-content;
}
.grid1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--light-color1);
  border-radius:2px;
  cursor: pointer;
  height:100%;
}

.grid1:hover{
  background-color: var(--light-color);
}
.grid1>.img-song{
  width:15%;
  height:100%
}
.img-song>.song-img{
  width:100%;
  height:100%;
}

.grid1>.desc-song{
  margin: auto 20px;
  width:68%;
 }
.grid1>.played{
  width:15%;
  margin: auto 10px;
 }

.jump-back, .liked-song{
  height:fit-content;
  padding-bottom: 3%;
}
.liked-song{
  display:none
}
.title-flex{
  display:flex;
  justify-content:space-between
}
.grid-7{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.grid-7>.isiGrid{
  height: 150px;
  background-color: var(--light-color);
  padding:10px;
  border-radius: 5px;
  cursor: pointer;
}
.isiGrid:hover{
  background-color: var(--light-color1);
}
figure{
  width:100%;
  height:150px;
  margin:0;
}
figure>.jump-img{
  width: 97%;
  height:70%;
  border-radius: 5px;
}
figcaption{
  font-size: 9px; 
  line-height: 1.5;
}
.judul-span{
  text-align: center;
}
.seAll{
  cursor: pointer;
  font-size: 15px;
}
h3{
  font-size: 20px;
}
a{
  text-decoration: none;
  color: var(--font-color)
}
footer{
  z-index: 1;
  height:10%;
  position:fixed;
  top: 90%;
  right:0;
  left:0;
  bottom:0;
  margin-right:0;
  display:grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  width:100%;
  background-color: var(--main-color);
}
.currentSong, .audioPlayer, .selengkapnya{
  display:flex;
  justify-content: space-between;
  padding:10px  
}
.currentSong>Img{
  width:45px;
  height:45px
}
.currentSong>.song-title{
  width:40%;
  font-size: 10px;
  padding: 10px;
}
.currentSong>.icon-cs{
  padding: 15px 0px;
  width:50%;
}
.audioPlayer{
  background-color:var(--main-color)
}
.selengkapnya{
  background-color:var(--main-color)
}
.login .log{
  text-decoration:none;
  color: var(--font-color); 
  font-size: 20px;
  position:absolute;
  top:50%;
  right:45%;
  background-color:var(--green-color);
  width: 100px;
  padding:5px;
  text-align: center;
  border-radius:6px;
}
.halamanLogin{
  width: 100%;
  height:100vh;
  background-color:black
}
/* LYRICS PAGE */
.Lyrics{
  padding: 0 30px;
  margin-left: 16%;
  width:81,5%;
  background-image:linear-gradient(180deg,#444444,#111111);
  height: 40vh;
  color: var(--font-color2);
}
.isi-lyrics{
  padding: 0 30px;
  margin-left: 16%;
  width:81,5%;
  background-image:linear-gradient(180deg,rgb(43,43,43),#1c1c1c,var(--second-color));
  min-height: 60vh;
  max-height: fit-content;
  color: var(--font-color2);
}
.grid_lyrics{
  display:grid;
  grid-template-columns:0.5fr 1.5fr;
  grid-column-gap: 20px;
}
.lyrics-pic{
  width:100%;
  height:fit-content;
  border-radius: 50%;
}
.isiL{
  width:30%;
  margin: 0 auto;
  padding:5% 0;
  font-size: 15px;
}
.deskripsi h3{
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 70px;
}
.deskripsi span{
  font-size: 15px;
  color: var(--font-color)
}

@media only screen and (max-width:768px){
  body{
    font-size: 8px;
  }
  header{
    padding:0 10px;
    width: 16%;
  }
  ul li{
    padding-top: 10px;
  }
  .myname{
    margin-top: 0px;
  }
  .pfp li{
    padding-top: 2px;
    margin-right: 5px;
    font-size: 7px;
  }
  li>.img-profil{
    width: 10px;
    height:10px;
    border-radius: 50%;
  }
  .shorcut>.grid-3{
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
   
  }
  .jump-back>.grid-7{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  /* footer */
  .currentSong>Img{
    width:25px;
    height:25px
  }
  .currentSong>.song-title{
    width:40%;
    font-size: 5px;
    padding: 0 5px;
  }
  .currentSong>.icon-cs{
    padding: 7px 5px;
    width:50%;
  }
  
}







